//---------------------------------------- header用 ----------------------------------------
ion-header {
    .login-title {
        .title {
            background: #03a9f4;
            line-height: 41px;
            .page-subtitle {
                font-size: 16px;
                font-weight: 400;
                white-space: normal;
                color: #ffffff;
            }
        }
    }
}

//---------------------------------------- content用 ----------------------------------------
.login-content {
    .login-item {
        border: none;
        margin: 12px 0 4px 0px;
        padding: 0 48px;
        .item-inner {
            padding: 0;
            .input-wrapper {
                .label {
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
        .conditions-of-use {
            font-size: 10px;
            line-height: 15px;
            padding-top: 5px;
            text-align: left;
            white-space: normal;
        }
        .input-label {
            font-weight: bold;
            margin: 0;
            max-width: 100%;
            padding: 7px 0;
            width: 100%;
            .label-sub {
                //color: $main-color;
                font-size: 14px;
                margin-bottom: 0;
                white-space: normal;
            }
        }
        input {
            font-size: 14px;
            height: 30px;
            padding: 0 8px;
            text-align: left;
            width: 100%;
            border: none;
            &:focus {
                outline: 0;
            }
        }
        .item-input-wrapper {
            display: flex !important;
            align-items: center;
            border-radius: 0;
            display: block;
            padding: 0;
        }
        .button-password-reset {
            //color: $main-color;
            float: right;
            font-size: 10px;
            font-weight: 600;
            text-align: right;
            text-decoration: inherit;
            white-space: normal;
        }
    }
    .login-pic {
        border: 0;
        padding: 0;
        .item-inner {
            padding: 0;
            border: none;
        }
        img {
            height: 100%;
            width: 100%;
        }
        .label {
            margin: 0;
        }
    }
    .login-button {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        padding: 48px;
        button {
            width: 100%;
            height: 48px;
            border-radius: 8px;
            background: #78909c;
            color: #ffffff;
            font-size: 16px;
            font-weight: 600;
        }
    }
}