<ion-card class="bug-card">
  <ion-item class="bug-title">
    <ion-label class="bug-title-name">BUG</ion-label>
    <ion-label class="bug-title-detail" (click)="goBugDetails()">
      <p class="bug-title-detail-name">Details</p>
      <ion-icon name="md-more"></ion-icon>
    </ion-label>
  </ion-item>
  <ion-row class="bug-canvas">
      <ion-col class="bug-canvas-title">
        <div>
          <label>Total bugs : {{state?.totalBugs}}</label>
        </div>
        <div>
          <p class="bug-new-title"></p>
          <label>New : {{state?.screen?.bugResponse?.news}}</label>
        </div>
        <div>
          <p class="bug-in-progress-title"></p>
          <label>In Progress : {{state?.screen?.bugResponse?.inProgress}}</label>
        </div>
        <div>
          <p class="bug-fixed-title"></p>
          <label>Fixed : {{state?.screen?.bugResponse?.fixed}}</label>
        </div>
        <div>
          <p class="bug-retesting-title"></p>
          <label>ReTesting : {{state?.screen?.bugResponse?.retesting}}</label>
        </div>
        <div>
          <p class="bug-closed-title"></p>
          <label>Closed : {{state?.screen?.bugResponse?.close}}</label>
        </div>
      </ion-col>
      <ion-col class="bug-canvas-area">
          <canvas baseChart class="canvas"
              [chartType]="state?.screen?.chartType"
              [datasets]="state?.screen?.dataSets"
              [options]="state?.screen?.options"
              [colors]="state?.screen?.colors" *ngIf="state != null && state.screen != null">
      </canvas>
      </ion-col>
  </ion-row>
  <!--<ion-item class="bug-canvas">
    <ion-label class="bug-canvas-title">
      <div>
        <label>Total bugs : {{state?.totalBugs}}</label>
      </div>
      <div>
        <p class="bug-new-title"></p>
        <label>New : {{state?.screen?.bugResponse?.news}}</label>
      </div>
      <div>
        <p class="bug-in-progress-title"></p>
        <label>In Progress : {{state?.screen?.bugResponse?.inProgress}}</label>
      </div>
      <div>
        <p class="bug-fixed-title"></p>
        <label>Fixed : {{state?.screen?.bugResponse?.fixed}}</label>
      </div>
      <div>
        <p class="bug-retesting-title"></p>
        <label>ReTesting : {{state?.screen?.bugResponse?.retesting}}</label>
      </div>
      <div>
        <p class="bug-closed-title"></p>
        <label>Closed : {{state?.screen?.bugResponse?.close}}</label>
      </div>
    </ion-label>
    <ion-label class="bug-canvas-area" *ngIf="state != null && state.screen != null">
      <canvas baseChart class="canvas"
              [chartType]="state?.screen?.chartType"
              [datasets]="state?.screen?.dataSets"
              [options]="state?.screen?.options"
              [colors]="state?.screen?.colors">
      </canvas>
    </ion-label>
  </ion-item>-->
</ion-card>
