<ion-header>
  <ion-navbar>
    <ion-title>
      Weekly Source Quality History
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="sonarqube-detail-page">
    <div class="sonarqube-detail-title">
        <ion-icon name="logo-buffer"></ion-icon><div>Weekly VBC History</div>
    </div>
    <div class="sonarqube-detail-chart">
        <canvas baseChart height="200px"
                [datasets]="state?.screen?.sonarqubeVBCHistoryResponse?.datas"
                [labels]="state?.screen?.sonarqubeVBCHistoryResponse?.labels"
                [options]="state?.screen?.sonarqubeVBCHistoryResponse?.options"
                [colors]="state?.screen?.sonarqubeVBCHistoryResponse?.colors"
                legend="true"
                chartType="line" *ngIf="state?.screen?.sonarqubeVBCHistoryResponse"></canvas>
    </div>
    <div class="sonarqube-detail-title">
        <ion-icon name="logo-buffer"></ion-icon><div>Weekly LOC History</div>
    </div>
    <div class="sonarqube-detail-chart">
        <canvas baseChart height="200px"
                [datasets]="state?.screen?.sonarqubeLocHistoryResponse?.datas"
                [labels]="state?.screen?.sonarqubeLocHistoryResponse?.labels"
                [options]="state?.screen?.sonarqubeLocHistoryResponse?.options"
                [colors]="state?.screen?.sonarqubeLocHistoryResponse?.colors"
                legend="true"
                chartType="line" *ngIf="state?.screen?.sonarqubeLocHistoryResponse"></canvas>
    </div>
    <div class="sonarqube-detail-title">
        <ion-icon name="logo-buffer"></ion-icon><div>Weekly Coverage History</div>
    </div>
    <div class="sonarqube-detail-chart">
        <canvas baseChart height="200px"
                [datasets]="state?.screen?.sonarqubeCoverageHistoryResponse?.datas"
                [labels]="state?.screen?.sonarqubeCoverageHistoryResponse?.labels"
                [options]="state?.screen?.sonarqubeCoverageHistoryResponse?.options"
                [colors]="state?.screen?.sonarqubeCoverageHistoryResponse?.colors"
                legend="true"
                chartType="line" *ngIf="state?.screen?.sonarqubeCoverageHistoryResponse"></canvas>
    </div>
</ion-content>
