<ion-header class="add-header">
  <ion-navbar>
    <ion-title>
      Weekly Source Quality History
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="sonarqube-detail-page">
    <div class="fs-sub-title">
        <ion-icon name="logo-buffer" class="sub-title-icon"></ion-icon><div class="sub-title-text">Weekly Vulneralilities History</div>
    </div>
    <div class="sonarqube-detail-chart">
        <canvas baseChart height="200px"
                [datasets]="state?.screen?.sonarqubeVulneralilitiesHistoryResponse?.datas"
                [labels]="state?.screen?.sonarqubeVulneralilitiesHistoryResponse?.labels"
                [options]="state?.screen?.sonarqubeVulneralilitiesHistoryResponse?.options"
                [colors]="state?.screen?.sonarqubeVulneralilitiesHistoryResponse?.colors"
                legend="true"
                chartType="line" *ngIf="state?.screen?.sonarqubeVulneralilitiesHistoryResponse"></canvas>
    </div>
    <div class="fs-sub-title">
        <ion-icon name="logo-buffer" class="sub-title-icon"></ion-icon><div class="sub-title-text">Weekly Bugs History</div>
    </div>
    <div class="sonarqube-detail-chart">
        <canvas baseChart height="200px"
                [datasets]="state?.screen?.sonarqubeBugsHistoryResponse?.datas"
                [labels]="state?.screen?.sonarqubeBugsHistoryResponse?.labels"
                [options]="state?.screen?.sonarqubeBugsHistoryResponse?.options"
                [colors]="state?.screen?.sonarqubeBugsHistoryResponse?.colors"
                legend="true"
                chartType="line" *ngIf="state?.screen?.sonarqubeBugsHistoryResponse"></canvas>
    </div>
    <div class="fs-sub-title">
        <ion-icon name="logo-buffer" class="sub-title-icon"></ion-icon><div class="sub-title-text">Weekly Code Smells History</div>
    </div>
    <div class="sonarqube-detail-chart">
        <canvas baseChart height="200px"
                [datasets]="state?.screen?.sonarqubeCodeSmellsHistoryResponse?.datas"
                [labels]="state?.screen?.sonarqubeCodeSmellsHistoryResponse?.labels"
                [options]="state?.screen?.sonarqubeCodeSmellsHistoryResponse?.options"
                [colors]="state?.screen?.sonarqubeCodeSmellsHistoryResponse?.colors"
                legend="true"
                chartType="line" *ngIf="state?.screen?.sonarqubeCodeSmellsHistoryResponse"></canvas>
    </div>
    <div class="fs-sub-title">
        <ion-icon name="logo-buffer" class="sub-title-icon"></ion-icon><div class="sub-title-text">Weekly LOC History</div>
    </div>
    <div class="sonarqube-detail-chart">
        <canvas baseChart height="200px"
                [datasets]="state?.screen?.sonarqubeLocHistoryResponse?.datas"
                [labels]="state?.screen?.sonarqubeLocHistoryResponse?.labels"
                [options]="state?.screen?.sonarqubeLocHistoryResponse?.options"
                [colors]="state?.screen?.sonarqubeLocHistoryResponse?.colors"
                legend="true"
                chartType="line" *ngIf="state?.screen?.sonarqubeLocHistoryResponse"></canvas>
    </div>
    <div class="fs-sub-title">
        <ion-icon name="logo-buffer" class="sub-title-icon"></ion-icon><div class="sub-title-text">Weekly Coverage History</div>
    </div>
    <div class="sonarqube-detail-chart">
        <canvas baseChart height="200px"
                [datasets]="state?.screen?.sonarqubeCoverageHistoryResponse?.datas"
                [labels]="state?.screen?.sonarqubeCoverageHistoryResponse?.labels"
                [options]="state?.screen?.sonarqubeCoverageHistoryResponse?.options"
                [colors]="state?.screen?.sonarqubeCoverageHistoryResponse?.colors"
                legend="true"
                chartType="line" *ngIf="state?.screen?.sonarqubeCoverageHistoryResponse"></canvas>
    </div>
</ion-content>
