.backlog-page {
  padding: 10px 0 10px 0;
  .redmine-title {
    display: flex;
    height: 30px;
    background-color: #33C6D8;
    line-height: 30px;
    ion-icon {
      margin-left: 10px;
    }
    div {
      margin-left: 10px;
      vertical-align: middle;
    }
  }

  .redmine-subtitle {
    display: box;
    display: -webkit-box;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    font-style: italic;
    margin-left: 10px;

    .logo{
      text-align: left;
    }
    .title{
      text-align: right;
      p {
        color: color($colors, black-color);
        padding-left: 5px;
        margin: 0;
      }
    }
  }
}

.backlog-card {
  padding: 0px 10px 15px 10px;
  .backlog-title {
    border: 0;
    font-size: 18px;
    padding: 0px;

    .backlog-title-name {
      font-weight: bold;
    }

    .backlog-title-detail {
      font-size: 16px;
      text-align: right;

      .backlog-title-detail-name {
        display: inline-block;
        padding-top: 0.5px;
        line-height: 0.8;
      }

      ion-icon {
        width: 10px;
      }
    }
    .item-inner {
      padding: 0;
      border: none;
    }
    img {
      height: 100%;
      width: 100%;
    }
    .label {
      margin: 0;
    }
  }

  .estimate{
    font-size: 1.0rem;
  }

  ion-col div {
    text-align: center;
  }

  ion-card-content {
    padding: 0;
  }

  .estimate-value {
    font-size: 22px;
  }

  .estimate-value-border {
    border: 1px solid #ccc;
    border-width: 0 1px;
  }
  .detail-area {
    .degree-title {
      font-size: 16px;
      font-weight: bold;
    }

    .degree-content {
      font-size: 12px;
      padding-left: 10px;
    }
    .item-inner {
      padding: 0;
      border: none;
    }

    .label {
      margin: 0;
    }
  }

}
