<div class="backlog-page" *ngIf="backlogDisplayFlg || taskDisplayFlg || bugDisplayFlg || qaDisplayFlg">
    <div class="fs-sub-title">
        <ion-icon name="logo-buffer" class="sub-title-icon"></ion-icon><div class="sub-title-text">Redmine</div>
    </div>
  <div class="redmine-subtitle">
      <div class="logo">
        <img src="assets/images/signIn/redmine.png" width="53" height="53">
      </div>
      <div class="title">
        <ion-label><p>The following data is obtained from redmine.</p></ion-label>
      </div>
  </div>
</div>

<ion-card class="backlog-card" *ngIf="backlogDisplayFlg" >
  <ion-item class="backlog-title">
    <ion-label class="backlog-title-name">BackLog</ion-label>
    <ion-label class="backlog-title-detail" (click)="goBackLogDetails()">
      <p class="backlog-title-detail-name">Details</p>
      <ion-icon name="md-more"></ion-icon>
    </ion-label>
  </ion-item>
  <div class="estimate">
    <ion-grid >
    <ion-row>
      <ion-col width-33>
        <div>
          <div>Initial Estimate</div>
          <div class="estimate-value">{{state?.screen?.backLogResponse?.initValue}}</div>
        </div>
      </ion-col>
      <ion-col width-33 center class="estimate-value-border">
        <div>
          <div>Planed Estimate</div>
          <div class="estimate-value">{{state?.screen?.backLogResponse?.planedValue}}</div>
        </div>
      </ion-col>
      <ion-col width-33>
        <div>
          <div>Time Reported</div>
          <div class="estimate-value">{{state?.screen?.backLogResponse?.reportedValue}}</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>
  <ion-row>
    <ion-col class="detail-area">
      <div class="detail-area-text">
        <div>
          <div class="degree-title">Completion Degree</div>
        </div>
        <div>
          <div class="degree-content">{{state?.screen?.backLogResponse?.completed}} of {{state?.screen?.backLogResponse?.backLogTotal}}</div>
        </div>
        <div>
          <div class="degree-content">Backlogs Completed</div>
        </div>
      </div>
    </ion-col>
    <ion-col class="backlog-canvas-area">
        <canvas baseChart class="canvas"
                [chartType]="state?.screen?.chartType"
                [datasets]="state?.screen?.dataSets"
                [options]="state?.screen?.options"
                [colors]="state?.screen?.colors" *ngIf="state != null && state.screen != null">
        </canvas>
    </ion-col>
  </ion-row>
  <!--<ion-item>
    <div class="detail-area">
      <div class="detail-area-text">
        <div>
          <div class="degree-title">Completion Degree</div>
        </div>
        <div>
          <div class="degree-content">{{state?.screen?.backLogResponse?.completed}} of {{state?.screen?.backLogResponse?.backLogTotal}}</div>
        </div>
        <div>
          <div class="degree-content">Backlogs Completed</div>
        </div>
      </div>
      <label class="backlog-canvas-area" *ngIf="state != null && state.screen != null">
        <canvas baseChart class="canvas"
                [chartType]="state?.screen?.chartType"
                [datasets]="state?.screen?.dataSets"
                [options]="state?.screen?.options"
                [colors]="state?.screen?.colors">
        </canvas>
      </label>
    </div>
  </ion-item>-->
</ion-card>
