
ion-header {
    .home-title {
        .title {
            background: #03a9f4;
            line-height: 41px;
            overflow: auto;
        }
        .toolbar-title {
          overflow: visible !important;
        }
        .toolbar-title-ios {
            color: #ffffff !important;
        }
    }
}

page-home {

}
