<ion-content class="task-details-content">
    <ion-navbar #ionNavbar>
        <button ion-button menuToggle>
      <ion-icon name="md-arrow-back"></ion-icon>
    </button>
        <ion-title>
            Weekly Task History
        </ion-title>
    </ion-navbar>
    <ion-item class="weekly-task-details">
        <ion-label class="weekly-task-details-label">
            <p class="icon">
                <i class="history details"></i>
            </p>
            <p class="weekly-task-details-title">Weekly History</p>
        </ion-label>
    </ion-item>
    <ion-item class="task-canvas">
        <ion-row class="task-canvas-area" *ngIf="state.taskHistoryCanvas && state.taskHistoryCanvas.dataSets">
            <canvas baseChart class="canvas"
                    [labels]="state?.taskHistoryCanvas?.labels"
                    [chartType]="state?.taskHistoryCanvas?.chartType"
                    [datasets]="state?.taskHistoryCanvas?.dataSets"
                    [options]="state?.taskHistoryCanvas?.options"
                    [colors]="state?.taskHistoryCanvas?.colors">
            </canvas>
        </ion-row>
    </ion-item>
    <ion-item class="weekly-task-details">
        <ion-label class="weekly-task-details-label">
            <p class="icon">
                <i class="history task-fix"></i>
            </p>
            <p class="weekly-task-details-title">Delay Task List</p>
        </ion-label>
    </ion-item>
    <ion-list class="weekly-task-details-list">
        <div class="weekly-task-details-list-item" *ngFor="let item of state.screen?.delayTaskList">
            <div class="weekly-task-details-list-item-title">
                <ion-label class="label-title">
                    <p>{{item.taskId}}</p>
                </ion-label>
            </div>
            <div class="weekly-task-details-list-item-graph delay-status"></div>
            <div class="weekly-task-details-list-item-content">
                <ion-label class="label-content">
                    <p>Tiket: {{item.tiket}}</p>
                    <p>Owner: {{item.owner}}</p>
                    <p>Planed End Date: {{item.planedEndDate}}</p>
                </ion-label>
            </div>
        </div>
    </ion-list>
</ion-content>
