// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  orange-color:     #efb14e,
  violet-color:     #6e3c78,
  darkblue-color:   #2d578b,
  lightblue-color:  #3f99ec,
  black-color:        #00060e,
  narbar-color:      #03a9f4,
  light-blue-color: #26c6da,
  task-on-schedule-color: #259b24,
  task-delay-color: #e51c23,
  task-closed-color: #607d8b,
  task-pending-color: #ff9800,
  qa-new-color: #5677fc,
  qa-in-progress-color: #259b24,
  qa-overdue-color: #ffff00,
  qa-closed-color: #ff9800,
  light-purple-color: #738ffe,
  light-orange-color: #ffa726,
  green-color:         #2baf2b,
  gray-color:          #bbbbbb,
  light-gray-color:   #e3e7e8
);



// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
