// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face{
  font-family:'FontAwesome2';
  src:url('../assets/fonts/fontawesome-webfont.eot?v=4.5.0');
  src:url('../assets/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'),
      url('../assets/fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'),
      url('../assets/fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'),
      url('../assets/fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'),
      url('../assets/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
      font-weight:normal;font-style:normal
}


.menu-header {
  display: flex;
  padding-bottom: 10%;
  background-color: white;
  border-bottom: 1px solid lightgray;
  .photo {
    margin-top: 6%;
    margin-left: 10%;
    width: 20%;
    height: 20%;
  }

  .name {
    margin-top: 12%;
    margin-left: 10%;

  }

}
.outer-content {
  .fixed-content {
    margin-top: 100px !important;
  }
  .scroll-context {
    margin-top: 100px !important;
  }
}
