<ion-content class="bug-details-content">
  <ion-navbar #ionNavbar>
    <button ion-button menuToggle >
      <ion-icon name="md-arrow-back"></ion-icon>
    </button>
    <ion-title>
      Weekly Bug History
    </ion-title>
  </ion-navbar>
  <ion-item class="weekly-bug-details">
    <ion-label class="weekly-bug-details-label">
      <p class="icon">
        <i class="history details"></i>
      </p>
      <p class="weekly-bug-details-title">Weekly Bug Details History</p>
    </ion-label>
  </ion-item>
  <ion-item class="bug-details-history-canvas">
    <ion-row class="bug-details-history-canvas-area" *ngIf="state.screen != null && state.screen.bugDetailsHistory != null">
      <canvas baseChart class="canvas"
              [labels]="state?.screen?.bugDetailsHistory?.labels"
              [chartType]="state?.screen?.bugDetailsHistory?.chartType"
              [datasets]="state?.screen?.bugDetailsHistory?.dataSets"
              [options]="state?.screen?.bugDetailsHistory?.options"
              [colors]="state?.screen?.bugDetailsHistory?.colors">
      </canvas>
    </ion-row>
  </ion-item>
  <ion-item class="weekly-bug-details">
    <ion-label class="weekly-bug-details-label">
      <p class="icon">
        <i class="history bug-fix"></i>
      </p>
      <p class="weekly-bug-details-title">Weekly BugFix History</p>
    </ion-label>
  </ion-item>
  <ion-item class="bug-details-history-canvas">
    <ion-row class="bug-details-history-canvas-area" *ngIf="state.screen != null && state.screen.bugFixHistory != null">
      <canvas baseChart class="canvas"
              [labels]="state?.screen?.bugFixHistory?.labels"
              [chartType]="state?.screen?.bugFixHistory?.chartType"
              [datasets]="state?.screen?.bugFixHistory?.dataSets"
              [options]="state?.screen?.bugFixHistory?.options"
              [colors]="state?.screen?.bugFixHistory?.colors">
      </canvas>
    </ion-row>
  </ion-item>
  <ion-item class="weekly-bug-details">
    <ion-label class="weekly-bug-details-label">
      <p class="icon">
        <i class="history bug-list"></i>
      </p>
      <p class="weekly-bug-details-title">Reminding Bug List</p>
    </ion-label>
  </ion-item>
  <ion-card-content class="redminding-bug-list">
    <ion-row class="redminding-bug" *ngFor="let redmindingBug of state?.screen?.redmindingBugList">
      <div class="redminding-no">{{redmindingBug.no}}</div>
      <div class="bug-priority" [ngClass]="{'bug-critial': redmindingBug.priority == 'Critial',
                                               'bug-high': redmindingBug.priority == 'High',
                                               'bug-middle': redmindingBug.priority == 'Middle',
                                               'bug-low': redmindingBug.priority == 'Low'}"></div>
      <div class="redminding-bug-detail">
        <p>Title: {{redmindingBug.title}}</p>
        <p>Priority: {{redmindingBug.priority}}</p>
        <p>Owner: {{redmindingBug.owner}}</p>
        <p>Due Date: {{redmindingBug.dueDate}}</p>
      </div>
    </ion-row>
  </ion-card-content>
</ion-content>
