.bug-details-content {

  .scroll-content {

    .weekly-bug-details {
      background-color: color($colors, light-blue-color);
      height: 22px;
      padding: 0;
      min-height: 22px;

      p {
        color: color($colors, black-color);
        padding-left: 5px;
        margin: 0;
      }

      .item-inner {
        min-height: 22px;
        height: 22px;

        .input-wrapper {
          height: 22px;

          .weekly-bug-details-label {
            display: inline-flex;
            margin: 0;

            .icon {

              .history {
                font: normal normal normal 14px/1 FontAwesome2;

                &.details {
                  &:before {
                    content: "\f080";
                  }
                }

                &.bug-fix {
                  &:before {
                    content: "\f201";
                  }
                }

                &.bug-list {
                  &:before {
                    content: "\f188";
                  }
                }

                &:before {
                  box-sizing: border-box;
                  font-size: 19px;
                }
              }
            }
          }
        }
      }

      .weekly-bug-details-title {
        font-size: 16px;
      }
    }

    .bug-details-history-canvas {
      margin: 10px 0;
      padding: 0 5px;
      width: 100%;

      .item-inner {
        border-bottom: 0;
        padding: 0;

        .label-md {
          margin: 0;

          .bug-details-history-canvas-area {
            display: flex;
            margin: 0;
            width: 100%;
            padding-top: 20px;

            .canvas {
              width: 100%;
            }
          }
        }
      }
    }

    .redminding-bug-list {
      padding: 0;

      .redminding-bug {
        border-top: 1px solid color($colors, gray-color);
        border-bottom: 1px solid color($colors, gray-color);
        margin: 2px 0;

        &:nth-child(even) {
          background-color: color($colors, light-gray-color);
        }

        .redminding-no {
          margin: auto;
          text-align: center;
          width: 60px;
        }

        .bug-priority {
          width: 8px;
          border-radius: 4px;

          &.bug-critial {
            background-color: color($colors, danger);
          }

          &.bug-high {
            background-color: color($colors, light-orange-color);
          }

          &.bug-middle {
            background-color: color($colors, light-purple-color);
          }

          &.bug-low {
            background-color: color($colors, green-color);
          }
        }

        .redminding-bug-detail {
          width: 100%;

          p {
            margin: 4px 5px;
          }
        }
      }
    }
  }
}
