<div class="sonarqube-page">
  <div class="fs-sub-title">
    <ion-icon name="logo-buffer" class="sub-title-icon"></ion-icon>
    <div class="sub-title-text">{{state?.overview?.projectName}}</div>
    <div class="sub-title-text title-text-right">Last Updated On : {{state?.overview?.lastUpdateTime}}</div>
  </div>
  <div>
    <div class="img-bar">
      <div class=" barometer-img-box1" *ngIf="0===state?.overview?.projectStatus">
        <img class="barometer-img" src="assets/images/barometer/qing_160_140.png">
      </div>
      <div class=" barometer-img-box1" *ngIf="0!==state?.overview?.projectStatus">
        <img class="barometer-img" src="assets/images/barometer/qing_160_140_false.png">
      </div>
      <div class=" barometer-img-box2" *ngIf="1==state?.overview?.projectStatus">
        <img class="barometer-img" src="assets/images/barometer/yin_160_140.png">
      </div>
      <div class=" barometer-img-box2" *ngIf="1!==state?.overview?.projectStatus">
        <img class="barometer-img" src="assets/images/barometer/yin_160_140_false.png">
      </div>
      <div class=" barometer-img-box3" *ngIf="2===state?.overview?.projectStatus">
        <img class="barometer-img" src="assets/images/barometer/yu_160_140.png">
      </div>
      <div class=" barometer-img-box3" *ngIf="2!==state?.overview?.projectStatus">
        <img class="barometer-img" src="assets/images/barometer/yu_160_140_false.png">
      </div>
    </div>
    <div>
      <label class="status-notice" [class.fs-color-normal]="0 ===state?.topEvent?.eventLevel"
             [class.fs-color-dangerous]="1===state?.topEvent?.eventLevel">
        <ion-icon name="happy" *ngIf="0===state?.topEvent?.eventLevel"></ion-icon>
        <ion-icon name="sad" *ngIf="1===state?.topEvent?.eventLevel"></ion-icon>
        <span class="notice-date">{{state?.topEvent?.eventDate}}</span>
        <span class="notice-text">{{state?.topEvent?.eventDescription}}</span>
      </label>
    </div>
    <div class="detail-bar">
      <span class="detail-bar-span" (click)="goQaDetails()">Details</span>
      <button ion-button clear icon-only small color="dark" class="detail-bar-button" (click)="goQaDetails()">
        <ion-icon name="md-more"></ion-icon>
      </button>
    </div>
  </div>
</div>
