<div class="sonarqube-page" *ngIf="qualityDisplayFlg || locDisplayFlg || coverageDisplayFlg || dupDisplayFlg">
    <div class="fs-sub-title">
        <div class="title">
            <ion-icon name="logo-buffer" class="sub-title-icon"></ion-icon><div class="sub-title-text">Sonarqube</div>
        </div>
        <!--<div></div>-->
        <!--<div class="icon">
            <ion-icon name="refresh" (click)="refresh()"></ion-icon>
        </div>-->
    </div>
    <div class="sonarqube-subtitle">
        The following data is obtained from sonarqube.
    </div>
    <!--Quality Gate-->
    <ion-card *ngIf="state?.qualityLoading && qualityDisplayFlg">
        <ion-card-content>
            <div class="sonarqube-loading">
                <ion-spinner name="circles"></ion-spinner><span>Loading Quality Gate Data</span>
            </div>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="!state?.qualityLoading && qualityDisplayFlg">
        <ion-card-header class="sonarqube-quality">
            <ion-grid class="sonarqube-quality-title">
                <div>Quality Gate</div>
                <div>
                    <button ion-button [color]="state?.screen?.sonarqubeResponse?.qualityGateStatus === 'success' ? 'secondary' : 'danger'" round small>
                        {{state?.screen?.sonarqubeResponse?.qualityGateStatus}}
                    </button>
                </div>
                <div>
                    <button ion-button clear item-right icon-right small color="dark" (click)="detail()">
                        Details
                        <ion-icon name="md-more"></ion-icon>
                    </button>
                </div>
            </ion-grid>
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col width-33>
                        <div>
                            <div>Vulneralilities</div>
                            <div class="sonarqube-value">{{state?.screen?.sonarqubeResponse?.vulneralilities | numberFormat}}</div>
                        </div>
                    </ion-col>
                    <ion-col width-33 center class="sonarqube-value-border">
                        <div>
                            <div>Bugs</div>
                            <div class="sonarqube-value">{{state?.screen?.sonarqubeResponse?.bugs | numberFormat}}</div>
                        </div>
                    </ion-col>
                    <ion-col width-33>
                        <div>
                            <div>Code Smells</div>
                            <div class="sonarqube-value">{{state?.screen?.sonarqubeResponse?.codeSmells | numberFormat}}</div>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
    <!--LOC -->
    <ion-card *ngIf="state?.locLoading && locDisplayFlg">
        <ion-card-content>
            <div class="sonarqube-loading">
                <ion-spinner name="circles"></ion-spinner><span>Loading LOC Data</span>
            </div>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="!state?.locLoading && locDisplayFlg">
        <ion-card-header>
            <ion-grid class="sonarqube-loc-title">
                <div>LOC</div>
                <div class="second-title">Lines of Code</div>
                <div class="thrid-title">{{state?.screen?.sonarqubeLocResponse?.codeLines | numberFormat}}</div>
            </ion-grid>
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col width-33>
                        <div>
                            <div>Line</div>
                            <div class="sonarqube-value">{{state?.screen?.sonarqubeLocResponse?.line | numberFormat}}</div>
                        </div>
                    </ion-col>
                    <ion-col width-33 center class="sonarqube-value-border">
                        <div>
                            <div>Statement</div>
                            <div class="sonarqube-value">{{state?.screen?.sonarqubeLocResponse?.statement | numberFormat}}</div>
                        </div>
                    </ion-col>
                    <ion-col width-33>
                        <div>
                            <div>File</div>
                            <div class="sonarqube-value">{{state?.screen?.sonarqubeLocResponse?.file | numberFormat}}</div>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

    <!--Coverage -->
    <ion-card *ngIf="state?.coverageLoading && coverageDisplayFlg">
        <ion-card-content>
            <div class="sonarqube-loading">
                <ion-spinner name="circles"></ion-spinner><span>Loading Coverage Data</span>
            </div>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="!state?.coverageLoading && coverageDisplayFlg">
        <ion-card-header>
            <ion-grid class="sonarqube-coverage-title">
                <div>Coverage</div>
                <div class="sonarqube-coverage-value">{{state?.screen?.sonarqubeCoverageResponse?.coverage}}%</div>
            </ion-grid>
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col width-33>
                        <div>
                            <div>Tests</div>
                            <div class="sonarqube-value">{{state?.screen?.sonarqubeCoverageResponse?.tests | numberFormat}}</div>
                        </div>
                    </ion-col>
                    <ion-col width-33 center class="sonarqube-value-border">
                        <div>
                            <div>Sucess</div>
                            <div class="sonarqube-value">{{state?.screen?.sonarqubeCoverageResponse?.success | numberFormat}}</div>
                        </div>
                    </ion-col>
                    <ion-col width-33>
                        <div>
                            <div>Failures</div>
                            <div class="sonarqube-value">{{state?.screen?.sonarqubeCoverageResponse?.failures | numberFormat}}</div>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

    <!--Duplication -->
    <ion-card *ngIf="state?.duplicationLoading && dupDisplayFlg">
        <ion-card-content>
            <div class="sonarqube-loading">
                <ion-spinner name="circles"></ion-spinner><span>Loading Duplication Data</span>
            </div>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="!state?.duplicationLoading && dupDisplayFlg">
        <ion-card-header>
            <ion-grid class="sonarqube-duplication-title">
                <div>Duplication</div>
                <span class="sonarqube-duplication-value">{{state?.screen?.sonarqubeDuplicationResponse?.duplication | numberFormat}}%</span>
            </ion-grid>
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col width-33>
                        <div>
                            <div>Line</div>
                            <div class="sonarqube-value">{{state?.screen?.sonarqubeDuplicationResponse?.line | numberFormat}}</div>
                        </div>
                    </ion-col>
                    <ion-col width-33 center class="sonarqube-value-border">
                        <div>
                            <div>Blocks</div>
                            <div class="sonarqube-value">{{state?.screen?.sonarqubeDuplicationResponse?.blocks | numberFormat}}</div>
                        </div>
                    </ion-col>
                    <ion-col width-33>
                        <div>
                            <div>File</div>
                            <div class="sonarqube-value">{{state?.screen?.sonarqubeDuplicationResponse?.file | numberFormat}}</div>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</div>
