//---------------------------------------- header用 ----------------------------------------
ion-header {
    .setting-title {
        .title {
            background: #03a9f4;
            line-height: 41px;
            .backbutton {
              color:#ffffff;
            }
            .page-subtitle {
                font-size: 16px;
                font-weight: 400;
                white-space: normal;
                color: #ffffff;
            }

        }
        .backbutton {
            color: black;
        }
    }
}

//---------------------------------------- content用 ----------------------------------------
.setting-content {
  .top-area {
    border-bottom: 1px solid #999999;
    margin-left: 10px;
    margin-right: 10px;
    .notice {
      font-size: medium;
      text-align: left;
      padding-top: 20px;
      padding-bottom: 0px;
      padding-left: 13px;
      .redstar {
        padding-right: 4px;
        font-size: larger;
        color:red;
      }
    }
    .title {
      font-size: medium;
      text-align: left;
      padding-top: 20px;
      padding-bottom: 5px;
      padding-left: 10px;
      .redstar {
        font-size: larger;
        color:red;
      }
    }

  }
  .redmine-sys {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid #999999;
    ion-item {
      border: 0px !important;
      ion-checkbox {
        margin-right: 10px !important;
      }
      ion-thumbnail {
        margin-right: 5px !important;
      }
      .valuelabel-first {
        margin-left: 40px;
        font-size: medium;
      }
      .valuelabel-second {
        margin-left: 200px;
        font-size: medium;
      }
      .redmine-titile {
        width: 10%;
        font-size: medium;
      }
      .item-inner {
        border: 0px !important;
      }
    }

  }
  .sonarqube-sys {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    ion-item {
      border: 0px !important;
      ion-checkbox {
        margin-right: 10px !important;
      }
      ion-thumbnail {
        margin-right: 5px !important;
      }
      .valuelabel-first {
        margin-left: 40px;
        font-size: medium;
      }
      .valuelabel-second {
        margin-left: 200px;
        font-size: medium;
      }
      .sonarqube-titile {
        width: 10%;
        font-size: medium;
      }
      .item-inner {
        border: 0px !important;
      }
    }

  }
  .button-area {
    .ok-button {
      width: 25%;
      margin-left: 20%;
      margin-right: 10%;
    }
    .reset-button {
      width: 25%;
    }
  }


}
